.select {
  text-align: center;
  font-size: 4em;
}

select {
  width: 50%;
  font-size: 0.8em;
  text-align: center;
  text-align-last: center;
  text-align: center;
  /*
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  */
  vertical-align: middle;
  border-radius: 1em;
  border: none;
  -webkit-appearance: none !important;
}

option {
  font-size: 0.3em;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  vertical-align: middle;
}

.division_txt,
.age_txt {
  position: relative;
  padding: 0.4em 2em 0.4em 1.5em;
  background-color: black;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  color: white;
  font-size: 0.8em;
  display: inline;
  left: -20%;
}

#division-select,
#age-select {
  height: 2.1em;
  font-size: 0.8em;
  position: absolute;
  padding: 0 0 0 0em;
  transform: translate(-43%, -11%);
  right: -10%;
  background-color: white;
}
