@font-face {
  font-family: 'RixYeoljeongdo_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
  font-style: normal;
}

* {
  font-weight: lighter;
  font-family: 'RixYeoljeongdo_Regular', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
}

.container {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  font-size: 6em;
  margin: 0;
  letter-spacing: 0.08em;
}

h1 {
  font-size: 3em;
  margin: 1.5em 0 1.5em 0;
}