@font-face {
  font-family: 'RixYeoljeongdo_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
  font-style: normal;
}

* {
  font-weight: lighter;
  font-family: 'RixYeoljeongdo_Regular', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
}

.container {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  font-size: 6em;
  margin: 20px 0;
  letter-spacing: 0.08em;
}

h1 {
  font-size: 3em;
  margin: 1.5em 0 1.5em 0;
}

.capacity {
  font-size: 2.5em;
}

button {
  font-size: 3em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 1em;
  background-color: aqua;
}

.p_name {
  /*
  border: 1em solid;
  border-radius: 2em;
  border-image: linear-gradient(to right, #d0ffcb, #2efff8);
  background-origin: border-box;
  background-clip: content-box, border-box;

 */
  /* 2efff8 */

  border: 0.5px solid transparent;
  border-radius: 5em;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to right, #d0ffcb, #2efff8);
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 1em 1em;
}

.hide {
  opacity: 0;
  margin-bottom: 0;
}

.visible {
  opacity: 1;
}